/*
    @package prof theme
*/
// www.wordpress.org/CSS

@import 'base/Variables'; // variables
@import 'base/mixins'; // Mixins
@import 'base/fonticons'; // Font icons
@import 'base/placeholders'; // placeholder
@import 'base/wordpress'; // wordpress defaullt classes
@import 'admin/sidebar'; // wordpress defaullt classes
@import 'admin/base'; // wordpress defaullt classes

/* 
    Generic 
    ------------------------------------------------
*/
body { font-family: $body-font; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: greyscale; 
    &.no-scroll{
        overflow-y: hidden;
    }
}
a{
    color: $primary-color;
    @include animate( color, 320ms );
    &:hover,
    &:focus{ text-decoration : none }
}

.background-image { background-position: center center; background-size: cover; background-repeat: no-repeat; }

.table { display: table; width: 100%; height: 100%; 
    .table-cell { display: table-cell; width: 100%; height: 100%; vertical-align: middle; }
}

/* 
    Header 
    ------------------------------------------------
*/
.header-container { @extend %text-shadow; position: relative; display: block; height: 326px; }

.site-title { color: #fff; margin: 0; font-size: 80px; }
.site-description { font-size: 14px; color: #fff; margin-top: 1em; }

.nav-container { position: absolute; bottom: 0; left: 0; right: 0; }

/* 
    Nav Bar 
    ------------------------------------------------
*/
.navbar-sunset { text-align: center; border: none; border-radius: 0; min-height: auto; margin-bottom: 0; 
    background: rgba( 255,255,255,0.1); border-top: 1px solid rgba( 255,255,255,0.1); padding: 0 15px;
    ul { float: none; }
    li { float: none; display: inline-block;
        &.active {
            a { opacity: 1;
                &:after { @include transform( translateY(0) ); opacity: 1; }
            }
        }
        &.open {
            a { opacity: 1; background-color: rgba(0,0,0,0.1)!important;
                &:after { @include transform( translateY(10px) ); opacity: 0!important; }
                &:hover,
                &:focus,
                &:visited { background-color: rgba(0,0,0,0.1)!important;
                    &:after { @include transform( translateY(10px) ); opacity: 0!important; }
                }
            }
        }
        a { text-transform: uppercase; color: #fff; font-size: 12px; opacity: 0.7; letter-spacing: 0.05em; background: none; @include animate( opacity, 320ms );
            &:hover,
            &:focus,
            &:visited { background: none; opacity: 1; 
                &:after { @include transform( translateY(0) ); opacity: 1; }
            }
            &:after { content: ''; position: absolute; display: block; left: 15px; right: 15px; bottom: 14px; height: 2px; background: #fff; @include animate( all, 320ms ); opacity: 0; @include transform( translateY(10px) ); }
        }
        ul.dropdown-menu { border: 0; border-radius: 0; background: rgba(0,0,0,0.75); 
            li { display: block; 
                a {
                    &:hover,
                    &:focus,
                    &:visited { background: rgba(0,0,0,0.25)!important; color: #fff; }
                }
            }
        }
    }
}

/* 
    Standard Post Format
    ------------------------------------------------
*/

article{  margin-top: 40px; margin-bottom: 40px; }

h1{
    font-size: 48px;font-weight:200;
    &.entry-title{ line-height: 1.5em; margin: 0; padding: 0; 
        &:before, &:after{ content: '~'; display: inline-block; position: relative; }
        &:before{ margin-right: 10px;}
        &:after{ margin-right: 10px;}
    }
}
.entry-meta{ font-size:13px; font-weight: 200; color: $light-grey;
    a{ font-weight : 500; color : $light-grey; 
        &:hover,
        &:focus{ color: $dark-grey; }
    } 
}


.standard-featured-link{ display:block; position:relative; 
    &:hover,
    &:focus{
        .standard-featured{
            &:after { background-color: rgba( 0, 0, 0, 0 ); }
        }
    }
}


// .standard-featured-link{  
//     background-color: green;
// }

.standard-featured{ height:330px; display:block; position:relative;
&:after{  @include animate( background, 320ms ); content : ''; position: absolute; display:block; top: 0; right: 0; bottom: 0; left: 0 ; 
         background-color: rgba( 0, 0, 0, 0.15 );box-shadow: inset 0 0 15px rgba( 0, 0, 0, 0.35 );
       }
}

.entry-excerpt{ margin: 30px 0 16px; 
    p{ font-size: 17px; line-height: 1.5em; font-weight: 300; letter-spacing : 0.02em;}
}

.button-container{ margin-bottom: 30px; }
.btn-sunset{ @include animate( all, 320ms); text-transform: uppercase; font-size : 14px; font-weight: 200; color: $light-grey; padding: 6px 10px; 
    border-radius: 0;border: 1px solid $light-grey; background-color: transparent;
    &:hover,
    &:focus{ color: #ffffff; border-collapse: $dark-grey; background-color: $dark-grey; }
}

.entry-footer{ padding: 10px; border-bottom: 4px solid $lighter-grey; color: $light-grey;text-transform: uppercase;
    a{ color: $light-grey; display:inline-block;  font-size: 12px; 
        &:hover,
        &:focus{ color: $dark-grey; }
    }
    .tags-list{
        .sunset-icon{ margin-left:10px; }
        a{ padding: 0 4px; }
    }
    .comments-link{
        .sunset-icon{ margin-left: 10px; }
    }
 }


/* 
    Image Post Format
    ------------------------------------------------
*/

.sunset-format-image{ 
    .entry-header{ @extend %text-shadow; height:500px; position:relative;}
    h1,
    .entry-meta,
    .entry-header{ color: #ffffff;
        a{ color: #ffffff;}
    }
    h1{ padding-top: 20px; }
}

.entry-excerpt{
    &.image-caption{ @extend %background-gradient; position: absolute; left: 0; bottom: 0; right: 0; margin:0;
        p{ margin: 40px 0; font-size: 14px;}
    }
}


/* 
    Audio Post Format
    ------------------------------------------------
*/


.prof-format-audio{
    h1{ font-size : 30px; margin-right: 20px;       
        &.entry-title{ display: inline-block;
            &:before, &:after{ display: none; }
        }
    }
    .entry-meta{ display: inline-block; margin-bottom: 0; }

    .entry-content{
        iframe{ width: 100%; height: 166px; }
    }
}


/* 
    Video Post Format
    ------------------------------------------------
*/

.prof-format-video{
    header{ 
        h1{
            &.entry-title{ margin-top : 20px; }
        }
    }


}

/* 
    Gallery Post Format
    ------------------------------------------------
*/

.prof-format-gallery {

    header { 

        h1 {
            &.entry-title { margin-top: 20px; }
        }
    }
    .standard-featured { height: 500px; 
        &:after { background-color: transparent; }
    }

    .carousel-control{ background: none; background-image: none; opacity: 1; filter: alpha( opacity = 100 );
        font-size: 30px; @extend %text-shadow; width: auto; 
        .preview-container{ display:block; padding:20px; background:rgba( 0,0,0,0.8);
            @include animate( background, 320ms ); 
            .thumbnail-container{ position:absolute; display: block; width: 50%; border-radius: 50%;
             background:#999; top: 1px; 
            }
        }
        &.right {
            .preview-container { padding-left: 40px; border-radius: 50% 0 0 50%; 
                .thumbnail-container { left: 1px; }
            }
        }
        &.left {
            .preview-container { padding-right: 40px; border-radius: 0 50% 50% 0; 
                .thumbnail-container { right: 1px; }
            }
        }
        
        &:hover {
            .preview-container { background-color: rgba(0,0,0,0.8); 
                .thumbnail-container { @include transform( scale(1) ); }
            }
        }
    }
    .entry-excerpt{
        &.image-caption{ @include animate( transform, 320ms ); @include transform( translateY( 100% ) );  }
    }

    &:hover{
        .entry-excerpt{
            &.image-caption{ @include transform( translateY( 0 ) );  }
        }
    }
}


/* 
    Quote Post Format
    ------------------------------------------------
*/

.prof-format-quote{
    .quote-content{font-size:42px; font-weight: 100;line-height: 1.3em; letter-spacing: 0.03em;
        &:before,
        &:after{ content: '"'; display:inline-block; position:relative;}        
    }
    .quote-author{ color: #898989; font-size: 12px; letter-spacing: 0.06em; }
}


/* 
    Link Post Format
    ------------------------------------------------
*/

.prof-format-link{
    h1{
        &.entry-title{
            &:before, &:after{ display: none }
            a{
                display: block;
            }
            .link-icon{
                display: block;color:#fff;font-size:30px;width:50px;height:50px;border-radius:50%;
                background: rgba( 0, 0, 0, 0.6 );margin: 0 auto;line-height:1em;top:10px;
            }
        }
    }

}


/* 
    Quote Post Format
    ------------------------------------------------
*/

.prof-format-aside{ 
    .aside-container{ background: rgba( 0, 0, 0, 0.05 ); padding-top: 20px; }    
    .aside-featured{
        width: 136px;
        height: 136px;
        border-radius: 50%;
        margin: 0 auto -20px;
    }
    .entry-meta{ margin-bottom: 5px; }
    .entry-excerpt{ margin-top:0;
        p{
            font-size: 15px;
        } 
    }
    .entry-footer{
        border-bottom: none;
        background: rgba( 0, 0, 0, 0.05 );
        padding-left: 10px;
        padding-right: 10px;
    }
}


/* 
    Footer Post Format
    ------------------------------------------------
*/

.prof-footer{
    background: #333;
    padding: 20px 0;
    margin-top: 40px;
    display: block;

}

/* 
    Ajax loading Post Format
    ------------------------------------------------
*/

.container-load-previous{
    margin-top: 40px;
    margin-bottom: -40px;
}

.prof-posts-container{

    padding-top: 40px;

    article{
        @include animate( all, 320ms );
        @include transform( translateY( 100px ) );
        opacity: 0;

        &.reveal {
            @include transform( translateY( 0 ) );
            opacity: 1;
        }
    }
}

.btn-sunset-load{
    display: block;
    width: 200px;
    color: #222;
    font-size: 30px;
    margin: 0 auto;
    cursor: pointer;
    opacity: 0.5;
    @include animate( opacity, 320ms );

    &:hover,
    &:focus,
    &.loading {
        opacity: 1;
    }

    &.loading {
        cursor: default;
    }

    span{
        display: block;
    }


}

.spin {
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


/* 
    Single
    ------------------------------------------------
*/


.entry-content{
    margin-top: 40px;
    font-size: 18px;
    letter-spacing: 0.02em;
    font-weight: 300;
    line-height: 1.7em;

    a,

    .prof-tooltip,
    .prof-popover{
        color: $orange;
        cursor: pointer;
       
        &:hover,
        &:focus{
            color: #F56808;

        }
    }

    p{
        margin-bottom: 15px;
    }

    b,
    strong{
        font-weight: 500;
    }
    
}

.post-link-nav{
    padding: 10px 0;

    a{
               
        &:hover,
        &:focus{
            color: $orange;

        }
    }
}


/* 
    Sharing section
    ------------------------------------------------
*/

.prof-shareThis{
    display: block;
    text-align: center;
    border-bottom: 1px solid #F1F1F1;
    padding-top:20px;
    clear: both;

    ul{
        margin: 0;
        padding: 0;
        list-style: none;

        li{
            float: none;
            display: inline-block;
        }

    }

    a{
        display: inline-block;
        font-size: 20px;
        opacity: 0.65;
        margin: 0 5px;
        color: #000000;
        @include animate( opacity, 320ms );

        &:hover,
        &:focus{
            opacity: 1;
            color: #000000;
        }
    }
}


/* 
    Comments section
    ------------------------------------------------
*/

.comments-area{
    border-top: 4px solid #F1F1F1;
    margin-top: 40px;
}

.last-field {
    margin-bottom: 50px;
}

.comment-list {
    padding: 0;
    list-style: none;
}

.comment-body {
    padding-bottom: 0;
}

.children {
    background-color: #F5F5F5;
    padding-right: 20px;
    padding-left: 20px;
    list-style: none;
    margin-left: 60px;
    
    .comment-author {
        &:before {
            background-color: #fff;
        }
    }
    
}

.comment-author {
    
    position: relative;
    display: block;
    font-size: 18px;
    font-weight: 300;
    
    &:before {
        position: absolute;
        content: '';
        display: block;
        top: 10px;
        bottom: 13px;
        left: 40px;
        right: 0;
        background-color: #f5f5f5;
        z-index: 1;
        border-radius: 4px;
    }
    
    & * {
        z-index: 1;
        position: relative;
    }
    
    b {
        font-weight: 400;
    }
    
    .avatar {
        border-radius: 50%;
        margin-right: 10px;
        border: 3px solid #fff;
    }
    
}

.comment-metadata {
    text-align: right;
    text-transform: uppercase;
    margin-top: -5px;
    font-size: 12px;
    
    a {
        color: #999;
    }
    
}

.comment-content {
    padding: 20px 0;
    font-size: 16px;
    font-weight: 300;
    border-bottom: 1px solid #E6E6E6;
    margin-left: 60px;
}

.reply {
    text-align: right;
    padding: 5px 0;
}

a.comment-reply-link {
    text-transform: uppercase;
    color: $orange;
        
        &:hover,
        &:focus {
            color: $orange-hover;
        }   
}

.comment-respond {
    margin-top: 60px;
}


/* 
    Sidebar section
    ------------------------------------------------
*/

.sidebar-overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba( 0, 0, 0, 0.3 );
    position:fixed;
    z-index: 3;
    display: none;
    cursor: e-resize;
}

.prof-sidebar{
    position:fixed;
    z-index: 99;
    color: #ffffff;
    top:0;
    right: 0;
    background-color: #1F1F1F;
    height: 100vh;
    width: 100%;
    max-width: 280px;
    bottom:0;
    @include animate( transform, 320ms );

    &.sidebar-closed{
        @include transform ( translateX( 100% ) );
    }
    a {
        color: #bababa;
        
        &:hover,
        &:focus {
            color: #fff;
        }
        
    }

}

.prof-sidebar-container{
    position:absolute;
    display: block;
    width: 100%;
    height: 100vh;
    padding-top: 40px;
}

.sidebar-scroll {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.sidebar-close, .sidebar-open {
    position:absolute;
    top:10px;
    left:10px;
    color: #fff;
    cursor: pointer;
    &:hover, 
    &:focus{ color: $orange-hover }
}

.sidebar-open{
    left:auto;
    right: 10px;
    top: 20px;
    font-size: 12px;
}



/* 
    Widget section
    ------------------------------------------------
*/

.sunset-widget {
    margin: 30px 0 50px;
    padding: 0 20px;
    letter-spacing: 0.2px;
    
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    li {
        padding: 0 10px;
        margin-bottom: 10px;
        
        a {
            //font-size: 15px;
        }
        
    }
}

h2.sunset-widget-title {
    display: block;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    background-color: #303030;
    padding: 8px;
    border-radius: 20px;
    line-height: 1em;
    margin-bottom: 20px;
    letter-spacing: 0.2px;
}


// Tags Cloud Widget
.tagcloud {
    text-align: center;
    a {
        display: inline-block;
        background-color: #7D7D7D;
        padding: 1px 9px;
        border-radius: 10px;
        color: #eee;
    }
    
}

// Categories Widget
.cat-item {
    position: relative;
    
    a,
    span {
        display: block;
        line-height: 1em;
    }
    
    a {
        padding: 4px 0;
    }
    
    span {
        position: absolute;
        right: 0;
        top: 2px;
        font-size: 12px;
        font-weight: 600;
        padding: 2px 7px 5px;
        background-color: #7D7D7D;
        border-radius: 10px;
    }
    
}

// Comments Widget
.recentcomments {
    
    font-size: 10px;
    color: #ccc;
    
    a {
        text-transform: uppercase;
    }
    
    span {
        
        &, 
        & a {
        
            display: block;
            color: #fff;
            font-size: 14px;
            padding-bottom: 4px;
            margin-bottom: 2px;
            border-bottom: 1px solid rgba(255,255,255,0.06);
            text-transform: none;
        
        }
    }
    
}


// Contact form
.prof-contact-form {
    padding: 40px 0;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;

    .form-group {
        margin-bottom: 30px;
        position: relative;

        &:before {
            position: absolute;
            display: block;
            content: '';

            bottom: 0;
            left: 0;
            right: 0;
            height: 2px;
            background-color: $grey2;
        }

        .form-control-msg {
            text-transform: uppercase;
            font-weight: 500;
            font-size: 10px;
        }

        &.has-error {
            &:before {
                background-color: #a94442;
            }
        }
    }
}

.prof-form-control{
    resize: vertical;
    border: none;
    border-radius: 0;
    padding: 8px 15px;
    outline: none;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;

    &::-webkit-input-placeholder {
        text-transform: uppercase;
    }

    &::-moz-placeholder {
        text-transform: uppercase;
    }

    &:-ms-placeholder {
        text-transform: uppercase;
    }

    &:-moz-placeholder {
        text-transform: uppercase;
    }

    &:hover,
    &:focus,
    &:active {
        box-shadow: none;
    }
}

.btn-prof-form{
    @include animate(all, 320ms);

    background-color: $grey;
    border-radius: 2px;
    font-size: 26px;
    padding: 14px 60px;
    color: #fff;
    font-weight: 100;
    border: none;

    &:hover,
    &:focus {
        background-color: $dark-grey;
        color: #fff;
    }
}


.form-control-msg {
    display: none;
}

.has-error {
    .form-control-msg
    {
        display: block;
    }

}

.js-show-feedback{
    display: block;
}