/*
	@package Prof Theme
    Variables
    ------------------------------------------------
*/

$primary-color : #000000;
$icon-font : 'sunset-icon';
$body-font : 'Raleway', 'Helvetica Neue', 'Helvetica', Arial, Verdana, sans-serif;
$grey : #656565;
$grey2: #CBCBCB;
$light-grey : #898989;
$lighter-grey: #626262;
$dark-grey : #333333;
$orange : #ff9d1d;
$orange-hover: #F56B08;
