/*
    @package prof theme
*/
/*
	@package Prof Theme
    Variables
    ------------------------------------------------
*/
/*
    @package Prof Theme
    Mixins
    ------------------------------------------------
*/
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
/*
    @package Prof theme
*/
/* 
    Font Icon 
    ------------------------------------------------
*/
@font-face {
  font-family: 'sunset-icon';
  src: url("../fonts/sunset-icon.eot?o1l4o7");
  src: url("../fonts/sunset-icon.eot?o1l4o7#iefix") format("embedded-opentype"), url("../fonts/sunset-icon.ttf?o1l4o7") format("truetype"), url("../fonts/sunset-icon.woff?o1l4o7") format("woff"), url("../fonts/sunset-icon.svg?o1l4o7#sunset-icon") format("svg");
  font-weight: normal;
  font-style: normal; }
.sunset-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sunset-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.sunset-twitter:before {
  content: "\e900"; }

.sunset-googleplus:before {
  content: "\e901"; }

.sunset-facebook:before {
  content: "\e902"; }

.sunset-audio:before {
  content: "\e800"; }

.sunset-chevron-left:before {
  content: "\e801"; }

.sunset-chevron-right:before {
  content: "\e802"; }

.sunset-close:before {
  content: "\e803"; }

.sunset-comment:before {
  content: "\e804"; }

.sunset-link:before {
  content: "\e805"; }

.sunset-loading:before {
  content: "\e806"; }

.sunset-logo:before {
  content: "\e807"; }

.sunset-menu:before {
  content: "\e808"; }

.sunset-pencil:before {
  content: "\e809"; }

.sunset-pics:before {
  content: "\e80a"; }

.sunset-search:before {
  content: "\e80b"; }

.sunset-share:before {
  content: "\e80c"; }

.sunset-tag:before {
  content: "\e80d"; }

.sunset-video:before {
  content: "\e80e"; }

/*
    @package Prof Theme
    Placeholders
    ------------------------------------------------
*/
.header-container, .sunset-format-image .entry-header, .prof-format-gallery .carousel-control {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4); }

.entry-excerpt.image-caption {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 );
  /* IE6-9 */ }

/*
	@package Prof theme
*/
.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignnone {
  margin: 5px 20px 20px 0; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

img.aligncenter {
  width: 100%;
  height: auto; }

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center; }

.wp-caption.alignnone {
  margin: 5px 20px 20px 0; }

.wp-caption.alignleft {
  margin: 5px 20px 20px 0; }

.wp-caption.alignright {
  margin: 5px 0 20px 20px; }

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto; }

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px; }

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

h1.sunset-username,
h2.sunset-description {
  font-weight: 100;
  color: #fff; }

h1.sunset-username {
  font-size: 24px;
  margin: 0 0 10px; }

h2.sunset-description {
  font-size: 13px;
  margin: 0 0 20px; }

.sunset-icon-sidebar {
  color: white;
  margin: 0 2px; }
  .sunset-icon-sidebar:before {
    width: 22px;
    height: 22px;
    font-size: 22px; }

.sunset-icon-sidebar--gplus {
  margin-left: 8px; }

.sunset-icon-button:before {
  margin-top: 3px;
  margin-left: -3px; }

.image-container {
  display: block;
  width: 100%;
  overflow: hidden;
  text-align: center; }

.profile-picture {
  width: 122px;
  height: 122px;
  overflow: hidden;
  border-radius: 50%;
  margin: 20px auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

#wpcontent {
  font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', Arial, Verdana, sans-serif;
  font-weight: 300; }

h1, h2, h3, h4, h5, .form-table th, .form-wrap label {
  font-weight: 500; }

.sunset-general-form,
.sunset-sidebar-preview {
  display: inline-block;
  float: left; }

.sunset-sidebar-preview {
  width: 280px;
  background-color: #1F1F1F;
  padding: 20px;
  text-align: center;
  margin-right: 20px; }

.sunset-sidebar {
  display: block;
  text-align: center; }

/* 
    Generic 
    ------------------------------------------------
*/
body {
  font-family: "Raleway", "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale; }
  body.no-scroll {
    overflow-y: hidden; }

a {
  color: #000000;
  -webkit-transition: color 320ms ease;
  -moz-transition: color 320ms ease;
  -ms-transition: color 320ms ease;
  -o-transition: color 320ms ease;
  transition: color 320ms ease; }
  a:hover, a:focus {
    text-decoration: none; }

.background-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.table {
  display: table;
  width: 100%;
  height: 100%; }
  .table .table-cell {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle; }

/* 
    Header 
    ------------------------------------------------
*/
.header-container {
  position: relative;
  display: block;
  height: 326px; }

.site-title {
  color: #fff;
  margin: 0;
  font-size: 80px; }

.site-description {
  font-size: 14px;
  color: #fff;
  margin-top: 1em; }

.nav-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }

/* 
    Nav Bar 
    ------------------------------------------------
*/
.navbar-sunset {
  text-align: center;
  border: none;
  border-radius: 0;
  min-height: auto;
  margin-bottom: 0;
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0 15px; }
  .navbar-sunset ul {
    float: none; }
  .navbar-sunset li {
    float: none;
    display: inline-block; }
    .navbar-sunset li.active a {
      opacity: 1; }
      .navbar-sunset li.active a:after {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        opacity: 1; }
    .navbar-sunset li.open a {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.1) !important; }
      .navbar-sunset li.open a:after {
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
        transform: translateY(10px);
        opacity: 0 !important; }
      .navbar-sunset li.open a:hover, .navbar-sunset li.open a:focus, .navbar-sunset li.open a:visited {
        background-color: rgba(0, 0, 0, 0.1) !important; }
        .navbar-sunset li.open a:hover:after, .navbar-sunset li.open a:focus:after, .navbar-sunset li.open a:visited:after {
          -webkit-transform: translateY(10px);
          -moz-transform: translateY(10px);
          -ms-transform: translateY(10px);
          -o-transform: translateY(10px);
          transform: translateY(10px);
          opacity: 0 !important; }
    .navbar-sunset li a {
      text-transform: uppercase;
      color: #fff;
      font-size: 12px;
      opacity: 0.7;
      letter-spacing: 0.05em;
      background: none;
      -webkit-transition: opacity 320ms ease;
      -moz-transition: opacity 320ms ease;
      -ms-transition: opacity 320ms ease;
      -o-transition: opacity 320ms ease;
      transition: opacity 320ms ease; }
      .navbar-sunset li a:hover, .navbar-sunset li a:focus, .navbar-sunset li a:visited {
        background: none;
        opacity: 1; }
        .navbar-sunset li a:hover:after, .navbar-sunset li a:focus:after, .navbar-sunset li a:visited:after {
          -webkit-transform: translateY(0);
          -moz-transform: translateY(0);
          -ms-transform: translateY(0);
          -o-transform: translateY(0);
          transform: translateY(0);
          opacity: 1; }
      .navbar-sunset li a:after {
        content: '';
        position: absolute;
        display: block;
        left: 15px;
        right: 15px;
        bottom: 14px;
        height: 2px;
        background: #fff;
        -webkit-transition: all 320ms ease;
        -moz-transition: all 320ms ease;
        -ms-transition: all 320ms ease;
        -o-transition: all 320ms ease;
        transition: all 320ms ease;
        opacity: 0;
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
        transform: translateY(10px); }
    .navbar-sunset li ul.dropdown-menu {
      border: 0;
      border-radius: 0;
      background: rgba(0, 0, 0, 0.75); }
      .navbar-sunset li ul.dropdown-menu li {
        display: block; }
        .navbar-sunset li ul.dropdown-menu li a:hover, .navbar-sunset li ul.dropdown-menu li a:focus, .navbar-sunset li ul.dropdown-menu li a:visited {
          background: rgba(0, 0, 0, 0.25) !important;
          color: #fff; }

/* 
    Standard Post Format
    ------------------------------------------------
*/
article {
  margin-top: 40px;
  margin-bottom: 40px; }

h1 {
  font-size: 48px;
  font-weight: 200; }
  h1.entry-title {
    line-height: 1.5em;
    margin: 0;
    padding: 0; }
    h1.entry-title:before, h1.entry-title:after {
      content: '~';
      display: inline-block;
      position: relative; }
    h1.entry-title:before {
      margin-right: 10px; }
    h1.entry-title:after {
      margin-right: 10px; }

.entry-meta {
  font-size: 13px;
  font-weight: 200;
  color: #898989; }
  .entry-meta a {
    font-weight: 500;
    color: #898989; }
    .entry-meta a:hover, .entry-meta a:focus {
      color: #333333; }

.standard-featured-link {
  display: block;
  position: relative; }
  .standard-featured-link:hover .standard-featured:after, .standard-featured-link:focus .standard-featured:after {
    background-color: rgba(0, 0, 0, 0); }

.standard-featured {
  height: 330px;
  display: block;
  position: relative; }
  .standard-featured:after {
    -webkit-transition: background 320ms ease;
    -moz-transition: background 320ms ease;
    -ms-transition: background 320ms ease;
    -o-transition: background 320ms ease;
    transition: background 320ms ease;
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.35); }

.entry-excerpt {
  margin: 30px 0 16px; }
  .entry-excerpt p {
    font-size: 17px;
    line-height: 1.5em;
    font-weight: 300;
    letter-spacing: 0.02em; }

.button-container {
  margin-bottom: 30px; }

.btn-sunset {
  -webkit-transition: all 320ms ease;
  -moz-transition: all 320ms ease;
  -ms-transition: all 320ms ease;
  -o-transition: all 320ms ease;
  transition: all 320ms ease;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 200;
  color: #898989;
  padding: 6px 10px;
  border-radius: 0;
  border: 1px solid #898989;
  background-color: transparent; }
  .btn-sunset:hover, .btn-sunset:focus {
    color: #ffffff;
    border-collapse: #333333;
    background-color: #333333; }

.entry-footer {
  padding: 10px;
  border-bottom: 4px solid #626262;
  color: #898989;
  text-transform: uppercase; }
  .entry-footer a {
    color: #898989;
    display: inline-block;
    font-size: 12px; }
    .entry-footer a:hover, .entry-footer a:focus {
      color: #333333; }
  .entry-footer .tags-list .sunset-icon {
    margin-left: 10px; }
  .entry-footer .tags-list a {
    padding: 0 4px; }
  .entry-footer .comments-link .sunset-icon {
    margin-left: 10px; }

/* 
    Image Post Format
    ------------------------------------------------
*/
.sunset-format-image .entry-header {
  height: 500px;
  position: relative; }
.sunset-format-image h1,
.sunset-format-image .entry-meta,
.sunset-format-image .entry-header {
  color: #ffffff; }
  .sunset-format-image h1 a,
  .sunset-format-image .entry-meta a,
  .sunset-format-image .entry-header a {
    color: #ffffff; }
.sunset-format-image h1 {
  padding-top: 20px; }

.entry-excerpt.image-caption {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0; }
  .entry-excerpt.image-caption p {
    margin: 40px 0;
    font-size: 14px; }

/* 
    Audio Post Format
    ------------------------------------------------
*/
.prof-format-audio h1 {
  font-size: 30px;
  margin-right: 20px; }
  .prof-format-audio h1.entry-title {
    display: inline-block; }
    .prof-format-audio h1.entry-title:before, .prof-format-audio h1.entry-title:after {
      display: none; }
.prof-format-audio .entry-meta {
  display: inline-block;
  margin-bottom: 0; }
.prof-format-audio .entry-content iframe {
  width: 100%;
  height: 166px; }

/* 
    Video Post Format
    ------------------------------------------------
*/
.prof-format-video header h1.entry-title {
  margin-top: 20px; }

/* 
    Gallery Post Format
    ------------------------------------------------
*/
.prof-format-gallery header h1.entry-title {
  margin-top: 20px; }
.prof-format-gallery .standard-featured {
  height: 500px; }
  .prof-format-gallery .standard-featured:after {
    background-color: transparent; }
.prof-format-gallery .carousel-control {
  background: none;
  background-image: none;
  opacity: 1;
  filter: alpha(opacity=100);
  font-size: 30px;
  width: auto; }
  .prof-format-gallery .carousel-control .preview-container {
    display: block;
    padding: 20px;
    background: rgba(0, 0, 0, 0.8);
    -webkit-transition: background 320ms ease;
    -moz-transition: background 320ms ease;
    -ms-transition: background 320ms ease;
    -o-transition: background 320ms ease;
    transition: background 320ms ease; }
    .prof-format-gallery .carousel-control .preview-container .thumbnail-container {
      position: absolute;
      display: block;
      width: 50%;
      border-radius: 50%;
      background: #999;
      top: 1px; }
  .prof-format-gallery .carousel-control.right .preview-container {
    padding-left: 40px;
    border-radius: 50% 0 0 50%; }
    .prof-format-gallery .carousel-control.right .preview-container .thumbnail-container {
      left: 1px; }
  .prof-format-gallery .carousel-control.left .preview-container {
    padding-right: 40px;
    border-radius: 0 50% 50% 0; }
    .prof-format-gallery .carousel-control.left .preview-container .thumbnail-container {
      right: 1px; }
  .prof-format-gallery .carousel-control:hover .preview-container {
    background-color: rgba(0, 0, 0, 0.8); }
    .prof-format-gallery .carousel-control:hover .preview-container .thumbnail-container {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }
.prof-format-gallery .entry-excerpt.image-caption {
  -webkit-transition: transform 320ms ease;
  -moz-transition: transform 320ms ease;
  -ms-transition: transform 320ms ease;
  -o-transition: transform 320ms ease;
  transition: transform 320ms ease;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%); }
.prof-format-gallery:hover .entry-excerpt.image-caption {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0); }

/* 
    Quote Post Format
    ------------------------------------------------
*/
.prof-format-quote .quote-content {
  font-size: 42px;
  font-weight: 100;
  line-height: 1.3em;
  letter-spacing: 0.03em; }
  .prof-format-quote .quote-content:before, .prof-format-quote .quote-content:after {
    content: '"';
    display: inline-block;
    position: relative; }
.prof-format-quote .quote-author {
  color: #898989;
  font-size: 12px;
  letter-spacing: 0.06em; }

/* 
    Link Post Format
    ------------------------------------------------
*/
.prof-format-link h1.entry-title:before, .prof-format-link h1.entry-title:after {
  display: none; }
.prof-format-link h1.entry-title a {
  display: block; }
.prof-format-link h1.entry-title .link-icon {
  display: block;
  color: #fff;
  font-size: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  line-height: 1em;
  top: 10px; }

/* 
    Quote Post Format
    ------------------------------------------------
*/
.prof-format-aside .aside-container {
  background: rgba(0, 0, 0, 0.05);
  padding-top: 20px; }
.prof-format-aside .aside-featured {
  width: 136px;
  height: 136px;
  border-radius: 50%;
  margin: 0 auto -20px; }
.prof-format-aside .entry-meta {
  margin-bottom: 5px; }
.prof-format-aside .entry-excerpt {
  margin-top: 0; }
  .prof-format-aside .entry-excerpt p {
    font-size: 15px; }
.prof-format-aside .entry-footer {
  border-bottom: none;
  background: rgba(0, 0, 0, 0.05);
  padding-left: 10px;
  padding-right: 10px; }

/* 
    Footer Post Format
    ------------------------------------------------
*/
.prof-footer {
  background: #333;
  padding: 20px 0;
  margin-top: 40px;
  display: block; }

/* 
    Ajax loading Post Format
    ------------------------------------------------
*/
.container-load-previous {
  margin-top: 40px;
  margin-bottom: -40px; }

.prof-posts-container {
  padding-top: 40px; }
  .prof-posts-container article {
    -webkit-transition: all 320ms ease;
    -moz-transition: all 320ms ease;
    -ms-transition: all 320ms ease;
    -o-transition: all 320ms ease;
    transition: all 320ms ease;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0; }
    .prof-posts-container article.reveal {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      opacity: 1; }

.btn-sunset-load {
  display: block;
  width: 200px;
  color: #222;
  font-size: 30px;
  margin: 0 auto;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: opacity 320ms ease;
  -moz-transition: opacity 320ms ease;
  -ms-transition: opacity 320ms ease;
  -o-transition: opacity 320ms ease;
  transition: opacity 320ms ease; }
  .btn-sunset-load:hover, .btn-sunset-load:focus, .btn-sunset-load.loading {
    opacity: 1; }
  .btn-sunset-load.loading {
    cursor: default; }
  .btn-sunset-load span {
    display: block; }

.spin {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

/* 
    Single
    ------------------------------------------------
*/
.entry-content {
  margin-top: 40px;
  font-size: 18px;
  letter-spacing: 0.02em;
  font-weight: 300;
  line-height: 1.7em; }
  .entry-content a,
  .entry-content .prof-tooltip,
  .entry-content .prof-popover {
    color: #ff9d1d;
    cursor: pointer; }
    .entry-content a:hover, .entry-content a:focus,
    .entry-content .prof-tooltip:hover,
    .entry-content .prof-tooltip:focus,
    .entry-content .prof-popover:hover,
    .entry-content .prof-popover:focus {
      color: #F56808; }
  .entry-content p {
    margin-bottom: 15px; }
  .entry-content b,
  .entry-content strong {
    font-weight: 500; }

.post-link-nav {
  padding: 10px 0; }
  .post-link-nav a:hover, .post-link-nav a:focus {
    color: #ff9d1d; }

/* 
    Sharing section
    ------------------------------------------------
*/
.prof-shareThis {
  display: block;
  text-align: center;
  border-bottom: 1px solid #F1F1F1;
  padding-top: 20px;
  clear: both; }
  .prof-shareThis ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .prof-shareThis ul li {
      float: none;
      display: inline-block; }
  .prof-shareThis a {
    display: inline-block;
    font-size: 20px;
    opacity: 0.65;
    margin: 0 5px;
    color: #000000;
    -webkit-transition: opacity 320ms ease;
    -moz-transition: opacity 320ms ease;
    -ms-transition: opacity 320ms ease;
    -o-transition: opacity 320ms ease;
    transition: opacity 320ms ease; }
    .prof-shareThis a:hover, .prof-shareThis a:focus {
      opacity: 1;
      color: #000000; }

/* 
    Comments section
    ------------------------------------------------
*/
.comments-area {
  border-top: 4px solid #F1F1F1;
  margin-top: 40px; }

.last-field {
  margin-bottom: 50px; }

.comment-list {
  padding: 0;
  list-style: none; }

.comment-body {
  padding-bottom: 0; }

.children {
  background-color: #F5F5F5;
  padding-right: 20px;
  padding-left: 20px;
  list-style: none;
  margin-left: 60px; }
  .children .comment-author:before {
    background-color: #fff; }

.comment-author {
  position: relative;
  display: block;
  font-size: 18px;
  font-weight: 300; }
  .comment-author:before {
    position: absolute;
    content: '';
    display: block;
    top: 10px;
    bottom: 13px;
    left: 40px;
    right: 0;
    background-color: #f5f5f5;
    z-index: 1;
    border-radius: 4px; }
  .comment-author * {
    z-index: 1;
    position: relative; }
  .comment-author b {
    font-weight: 400; }
  .comment-author .avatar {
    border-radius: 50%;
    margin-right: 10px;
    border: 3px solid #fff; }

.comment-metadata {
  text-align: right;
  text-transform: uppercase;
  margin-top: -5px;
  font-size: 12px; }
  .comment-metadata a {
    color: #999; }

.comment-content {
  padding: 20px 0;
  font-size: 16px;
  font-weight: 300;
  border-bottom: 1px solid #E6E6E6;
  margin-left: 60px; }

.reply {
  text-align: right;
  padding: 5px 0; }

a.comment-reply-link {
  text-transform: uppercase;
  color: #ff9d1d; }
  a.comment-reply-link:hover, a.comment-reply-link:focus {
    color: #F56B08; }

.comment-respond {
  margin-top: 60px; }

/* 
    Sidebar section
    ------------------------------------------------
*/
.sidebar-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 3;
  display: none;
  cursor: e-resize; }

.prof-sidebar {
  position: fixed;
  z-index: 99;
  color: #ffffff;
  top: 0;
  right: 0;
  background-color: #1F1F1F;
  height: 100vh;
  width: 100%;
  max-width: 280px;
  bottom: 0;
  -webkit-transition: transform 320ms ease;
  -moz-transition: transform 320ms ease;
  -ms-transition: transform 320ms ease;
  -o-transition: transform 320ms ease;
  transition: transform 320ms ease; }
  .prof-sidebar.sidebar-closed {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); }
  .prof-sidebar a {
    color: #bababa; }
    .prof-sidebar a:hover, .prof-sidebar a:focus {
      color: #fff; }

.prof-sidebar-container {
  position: absolute;
  display: block;
  width: 100%;
  height: 100vh;
  padding-top: 40px; }

.sidebar-scroll {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll; }

.sidebar-close, .sidebar-open {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
  cursor: pointer; }
  .sidebar-close:hover, .sidebar-close:focus, .sidebar-open:hover, .sidebar-open:focus {
    color: #F56B08; }

.sidebar-open {
  left: auto;
  right: 10px;
  top: 20px;
  font-size: 12px; }

/* 
    Widget section
    ------------------------------------------------
*/
.sunset-widget {
  margin: 30px 0 50px;
  padding: 0 20px;
  letter-spacing: 0.2px; }
  .sunset-widget ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .sunset-widget li {
    padding: 0 10px;
    margin-bottom: 10px; }

h2.sunset-widget-title {
  display: block;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  background-color: #303030;
  padding: 8px;
  border-radius: 20px;
  line-height: 1em;
  margin-bottom: 20px;
  letter-spacing: 0.2px; }

.tagcloud {
  text-align: center; }
  .tagcloud a {
    display: inline-block;
    background-color: #7D7D7D;
    padding: 1px 9px;
    border-radius: 10px;
    color: #eee; }

.cat-item {
  position: relative; }
  .cat-item a,
  .cat-item span {
    display: block;
    line-height: 1em; }
  .cat-item a {
    padding: 4px 0; }
  .cat-item span {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 12px;
    font-weight: 600;
    padding: 2px 7px 5px;
    background-color: #7D7D7D;
    border-radius: 10px; }

.recentcomments {
  font-size: 10px;
  color: #ccc; }
  .recentcomments a {
    text-transform: uppercase; }
  .recentcomments span, .recentcomments span a {
    display: block;
    color: #fff;
    font-size: 14px;
    padding-bottom: 4px;
    margin-bottom: 2px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
    text-transform: none; }

.prof-contact-form {
  padding: 40px 0;
  max-width: 500px;
  width: 100%;
  margin: 0 auto; }
  .prof-contact-form .form-group {
    margin-bottom: 30px;
    position: relative; }
    .prof-contact-form .form-group:before {
      position: absolute;
      display: block;
      content: '';
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background-color: #CBCBCB; }
    .prof-contact-form .form-group .form-control-msg {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 10px; }
    .prof-contact-form .form-group.has-error:before {
      background-color: #a94442; }

.prof-form-control {
  resize: vertical;
  border: none;
  border-radius: 0;
  padding: 8px 15px;
  outline: none;
  box-shadow: none !important;
  -webkit-box-shadow: none !important; }
  .prof-form-control::-webkit-input-placeholder {
    text-transform: uppercase; }
  .prof-form-control::-moz-placeholder {
    text-transform: uppercase; }
  .prof-form-control:-ms-placeholder {
    text-transform: uppercase; }
  .prof-form-control:-moz-placeholder {
    text-transform: uppercase; }
  .prof-form-control:hover, .prof-form-control:focus, .prof-form-control:active {
    box-shadow: none; }

.btn-prof-form {
  -webkit-transition: all 320ms ease;
  -moz-transition: all 320ms ease;
  -ms-transition: all 320ms ease;
  -o-transition: all 320ms ease;
  transition: all 320ms ease;
  background-color: #656565;
  border-radius: 2px;
  font-size: 26px;
  padding: 14px 60px;
  color: #fff;
  font-weight: 100;
  border: none; }
  .btn-prof-form:hover, .btn-prof-form:focus {
    background-color: #333333;
    color: #fff; }

.form-control-msg {
  display: none; }

.has-error .form-control-msg {
  display: block; }

.js-show-feedback {
  display: block; }

/*# sourceMappingURL=prof.css.map */
